mixin png(name, cls)
	img(class=cls src=require(`@images/${name}.png`) alt=name)
mixin svg(name, cls)
	img(class=cls src=require(`@images/${name}.svg`) alt=name)
mixin jpg(name, cls)
	img(class=cls src=require(`@images/${name}.jpg`) alt=name)
